# Server Configuration
PORT=3000
NODE_ENV=development

# Redis Configuration (For BullMQ)
# Đối với Docker local, để REDIS_HOST=redis
# Đối với chạy chay không docker, để 127.0.0.1
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Gemini AI Configuration
GEMINI_API_KEY=AIzaSyC9utrGGIPdgOoThsrk-3-G8dOq4NNF1Ko
GEMINI_MODEL=gemini-2.5-flash

# Thêm các biến môi trường khác của hệ thống ở đây (Azure MS Graph, v.v...)
